@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text: 9,89%,65%;
    --bg:  9,47%,97%;
    --secondary_bg:  7,49%,93%;
    --accent: 29,82%,50%;
}

body{
    overflow-x: hidden;
}

.menu::after{
    background: url('../vectors/arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.menu::before{
    background: url("../vectors/menu_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero_illustration{
    background: url("../vectors/heroIllustration.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


